body {
  height: auto;
  width: auto;
  font-family: 'Exo 2', sans-serif;
}

/* The Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  border-bottom: 6px #bcd1f0 double;
  background: #0d1c18;
  flex-wrap: wrap;
}

.RHG {
  flex-grow: 3;
  font-style: italic;
  font-size: 35px;
  font-weight: bold;
  color: #f0f4fa;
  padding: 5px;
  margin-left: 10px;
  text-decoration: none;
}

.signLogIn {
  margin-right: 15px;
}

.signLogIn > a {
  font-size: 17px;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #f0f4fa;
  transition: all .4s ease;
}

#homeLogIn:hover, #homeSignUp:hover {
  color: #c8b0a7;
  text-shadow: .5px 3px 5px #2e3c2d;
}

.jumbotron {
  background-size: cover;
  height: 100vh;
}

/* Log In Page */
.logInPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: cover;
  align-items: center;
}

.logInBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  width: 80vh;
  background: #bcd1f075;
  border: 6px #0d1c18 double;
  border-radius: 20px;
  padding: 20px;
  text-shadow: -2px 1px 8px #f0f4fa;
}

.logInName {
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 2px;
}

.labels {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-right: 35px;
  padding-left: 15px;
}

#contactSubmit {
  margin-left: 10px;
}

#contactLabels {
  font-size: 20px;
}

button {
  border-radius: 5px;
  background-color: #bcd1f0;
  font-style: oblique;
  padding: 3px 8px;
}

.noAccount {
  border-top: 6px #bcd1f075 ridge;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUp {
  text-decoration: none;
  text-shadow: none;
  background: #bcd1f0;
  font-size: 20px;
  padding: 10px;
  border: 3px #c8b0a7 double;
  border-radius: 10px;
  font-style: oblique;
  font-weight: bold;
  color: black;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease;
  width: fit-content;
}

.signUp:hover {
  background: #0d1c18;
  color: #f0f4fa;
  box-shadow: -2px 3px #c8b0a7;
}

.theButton {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: cover;
}

.locationFilters {
  background: #bcd1f075;
  padding: 20px;
  padding-top: 0px;
  border-radius: 20px;
  border: 6px #0d1c18 double;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.locationFilters > p.giveLocation {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: span 2;
}

.locationFilters > p.optional {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: span 2;
}

#citySearch {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: span 1;
}

#maxDistance {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: span 2;
}

#hikeLength {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: span 1;
}

#hikeDiff {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
}

.locationFilters > div > label {
  font-size: 30px;
  font-weight: bold;
  text-shadow: -2px 1px 8px #f0f4fa;
}

#randomButton {
  background: #bcd1f075;
  text-decoration: none;
  font-size: 55px;
  padding: 25px;
  border: 6px #0d1c18 double;
  border-radius: 20px;
  font-style: oblique;
  font-weight: bold;
  color: black;
  text-shadow: -2px 1px 8px #f0f4fa;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease;
}

#randomButton:hover {
  background-color: #0d1c18;
  box-shadow: 0px 3px #0d1c18c2;
  font-size: 60px;
  padding: 30px;
  color: #bcd1f0;
  border: 6px #bcd1f0 double;
  text-shadow: none;
}

#randomButton:active {
  background-color: rgb(96, 116, 70);
  box-shadow: 0 3px rgba(70, 70, 70, 0.575);
  transform: translateY(4px);
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0d1c18;
  text-align: center;
  border-top: 3px black solid;
}

#contactFormLink {
  color: black;
}


@media (max-width: 800px) {
  .RHG {
    font-size: 32px;
    padding: 3px;
    margin-left: 7px;
  }
  .signLogIn {
    margin-right: 10px;
  }
  .signLogIn > a {
    font-size: 17px;
    padding: 16px;
  }
  .locationFilters {
    background: rgba(47, 79, 57, 0.712);
    padding: 15px;
    padding-top: 0px;
    border: 4px black solid;
  }
  .locationFilters > div > label {
    font-size: 20px;
  }
  #randomButton {
    background: rgb(122, 151, 84);
    font-size: 65px;
    padding: 35px;
    border: 4px black ridge;
  }
}

@media (max-width: 690px) {
  .RHG {
    font-size: 27px;
    padding: 3px;
    margin-left: 5px;
  }
  .signLogIn {
    margin-right: 6px;
  }
  .signLogIn > a {
    font-size: 17px;
    padding: 13px;
  }
  .locationFilters {
    display: flex;
    flex-direction: column;
    padding: 12px;
    padding-top: 0px;
  }
  .locationFilters > div {
    padding: 8px;
  }
  .locationFilters > div > label {
    font-size: 30px;
  }
  #randomButton {
    font-size: 57px;
    padding: 30px;
  }
}

@media (max-width: 630px) {
  .RHG {
    font-size: 27px;
    padding: 3px;
    margin-left: 5px;
  }
  .signLogIn {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .signLogIn > a {
    font-size: 15px;
    padding: 7px;
  }
  .locationFilters {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .locationFilters > label {
    font-size: 20px;
  }
  .locationFilters > select {
    width: max-content;
  }
  #randomButton {
    font-size: 57px;
    padding: 30px;
  }
}

@media (max-width: 520px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-bottom: none;
    background: rgb(47, 79, 57);
  }

  .RHG {
    font-size: 26px;
    font-weight: normal;
    text-align: center;
  }

  .signLogIn {
    display: flex;
    flex-direction: row;
  }

  .signLogIn > a {
    font-size: 18px;
    font-weight: normal;
    padding: 2px 10px;
    text-decoration: none;
    color: white;
  }

  .jumbotron {
    background-image: none;
  }

  .theButton {
    background-color: rgb(0, 24, 0);
    justify-items: flex-start;
  }
  .locationFilters {
    background: rgb(47, 79, 57);
    border-radius: 20px;
    border: 5px black solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    /*display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;*/
  }

  .locationFilters > div > label {
    font-size: 25px;
    font-weight: bold;
    text-shadow: -1px 1px 5px #fff;
  }

  #randomButton {
    font-size: 50px;
    padding: 15px;
    border: 3px black ridge;
  }
  #randomButton:hover {
    background-color: rgba(97, 117, 70, 0.856);
  }

  #randomButton:active {
    background-color: rgb(96, 116, 70);
    box-shadow: 0 3px rgba(70, 70, 70, 0.575);
    transform: translateY(4px);
  }
}
